name: CI - PR Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - '**/*.go'
              - '**/*.py'
              - Dockerfile.epp
              - Dockerfile.sidecar
              - Makefile*
              - go.mod
  lint-and-test:
    needs: check-changes
    if: ${{ needs.check-changes.outputs.src == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Checkout source
        uses: actions/checkout@v6

      - name: Sanity check repo contents
        run: ls -la

      - name: Extract Go version from go.mod
        run: sed -En 's/^go (.*)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go with cache
        uses: actions/setup-go@v6
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache-dependency-path: ./go.sum

      - name: Configure CGO for Python
        run: |
          PYTHON_INCLUDE=$(python3 -c "import sysconfig; print(sysconfig.get_path('include'))")
          echo "CPATH=${PYTHON_INCLUDE}:${CPATH}" >> $GITHUB_ENV
          echo "CGO_ENABLED=1" >> $GITHUB_ENV
          echo "CGO_CFLAGS=$(python3-config --cflags --embed)" >> $GITHUB_ENV
          echo "CGO_LDFLAGS=$(python3-config --ldflags --embed)" >> $GITHUB_ENV

      - name: Set PKG_CONFIG_PATH
        run: echo "PKG_CONFIG_PATH=/usr/lib/pkgconfig" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          go mod tidy
          sudo -E env "PATH=$PATH" make install-dependencies install-python-deps

      - name: Run lint checks
        uses: golangci/golangci-lint-action@v9
        with:
          version: "v2.8.0"
          args: "--config=./.golangci.yml"
          skip-cache: true
        env:
          CGO_ENABLED: ${{ env.CGO_ENABLED }}
          CGO_CFLAGS: ${{ env.CGO_CFLAGS }}
          CGO_LDFLAGS: ${{ env.CGO_LDFLAGS }}
          CPATH: ${{ env.CPATH }}
          PKG_CONFIG_PATH: ${{ env.PKG_CONFIG_PATH }}

      - name: Run make build
        shell: bash
        run: make build

      - name: Run make test
        shell: bash
        run: make test
